#contact {
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact__after {
    padding: 7rem 0;
    background: url('../../assets/gamingBackground.png');
    background-size: 420px;
    background-position: center;
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color: var(--color-card);
    border-radius: 1.2rem;
    text-align: center;
    transition: var(--transition);
    border: 1px solid rgb(36, 36, 36);
    backdrop-filter: blur(2px);
}

.contact__option:hover {
    border: 1px solid var(--color-primary);
}

.contact__option-after {
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: none;
}

.contact__option-after:hover {
    transition: var(--transition);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option-after h4 {
    color: var(--color-secondary);
}
.contact__option-after h5 {
    font-size: 1rem;
    color: var(--color-white);
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.gmail .contact__option-icon {
    color: var(--color-primary);
}

.messenger .contact__option-icon {
    color: var(--color-primary);
}

.whatsapp .contact__option-icon {
    color: var(--color-primary);
}


/* ===================== FORM ====================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg);
    background-attachment: fixed;
    border: 1px solid rgb(36, 36, 36);
    resize: none;
    color: var(--color-white);
    backdrop-filter: blur(5px);
}

/* ================= MEDIA QUERIES (MEDIUM SIZED DEVICES) =================== */
@media screen and (max-width: 1250px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
/* ================= MEDIA QUERIES (SMALL SIZED DEVICES) =================== */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    .contact__after {
        background-size: 250px;
    }
}