.testimonials__before {
    background: url(../../assets/about__background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.testimonials__after {
    background-color: rgba(0, 0, 0, 0.863);
    padding: 7rem 0;
}

.container.testimonials__container {
    width: 600px;
    padding-bottom: 4rem;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.2rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-card);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    backdrop-filter: blur(5px);
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ================= MEDIA QUERIES (MEDIUM SIZED DEVICES) =================== */
@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}
/* ================= MEDIA QUERIES (SMALL SIZED DEVICES) =================== */
@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }

    .testimonials__after {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 7rem 0;
    }
}